/* line 1, ../xampp/htdocs/JavaScript Array Reflection/css/lightbox.css */
body.lb-disable-scrolling {
  overflow: hidden;
}

/* line 5, ../xampp/htdocs/JavaScript Array Reflection/css/lightbox.css */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

/* line 16, ../xampp/htdocs/JavaScript Array Reflection/css/lightbox.css */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
  outline: none;
}

/* line 27, ../xampp/htdocs/JavaScript Array Reflection/css/lightbox.css */
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;
  /* Image border */
  border: 4px solid white;
}

/* line 38, ../xampp/htdocs/JavaScript Array Reflection/css/lightbox.css */
.lightbox a img {
  border: none;
}

/* line 42, ../xampp/htdocs/JavaScript Array Reflection/css/lightbox.css */
.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

/* line 55, ../xampp/htdocs/JavaScript Array Reflection/css/lightbox.css */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 61, ../xampp/htdocs/JavaScript Array Reflection/css/lightbox.css */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 71, ../xampp/htdocs/JavaScript Array Reflection/css/lightbox.css */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}

/* line 79, ../xampp/htdocs/JavaScript Array Reflection/css/lightbox.css */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 88, ../xampp/htdocs/JavaScript Array Reflection/css/lightbox.css */
.lb-container > .nav {
  left: 0;
}

/* line 92, ../xampp/htdocs/JavaScript Array Reflection/css/lightbox.css */
.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

/* line 97, ../xampp/htdocs/JavaScript Array Reflection/css/lightbox.css */
.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

/* line 103, ../xampp/htdocs/JavaScript Array Reflection/css/lightbox.css */
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 116, ../xampp/htdocs/JavaScript Array Reflection/css/lightbox.css */
.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 121, ../xampp/htdocs/JavaScript Array Reflection/css/lightbox.css */
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 134, ../xampp/htdocs/JavaScript Array Reflection/css/lightbox.css */
.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 139, ../xampp/htdocs/JavaScript Array Reflection/css/lightbox.css */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 148, ../xampp/htdocs/JavaScript Array Reflection/css/lightbox.css */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 154, ../xampp/htdocs/JavaScript Array Reflection/css/lightbox.css */
.lb-data {
  padding: 0 4px;
  color: #ccc;
}

/* line 159, ../xampp/htdocs/JavaScript Array Reflection/css/lightbox.css */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

/* line 166, ../xampp/htdocs/JavaScript Array Reflection/css/lightbox.css */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

/* line 172, ../xampp/htdocs/JavaScript Array Reflection/css/lightbox.css */
.lb-data .lb-caption a {
  color: #4ae;
}

/* line 176, ../xampp/htdocs/JavaScript Array Reflection/css/lightbox.css */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

/* line 184, ../xampp/htdocs/JavaScript Array Reflection/css/lightbox.css */
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

/* line 200, ../xampp/htdocs/JavaScript Array Reflection/css/lightbox.css */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 8, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 16, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
body {
  margin: 0;
}

/* line 26, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 45, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 57, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 66, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
[hidden],
template {
  display: none;
}

/* line 75, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
a {
  background: transparent;
}

/* line 82, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 91, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 98, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 106, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
dfn {
  font-style: italic;
}

/* line 114, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 122, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 130, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
small {
  font-size: 80%;
}

/* line 137, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 145, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
sup {
  top: -0.5em;
}

/* line 149, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 157, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
img {
  border: 0;
}

/* line 164, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 172, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
figure {
  margin: 1em 40px;
}

/* line 179, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 188, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
pre {
  overflow: auto;
}

/* line 195, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 214, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 227, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
button {
  overflow: visible;
}

/* line 237, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
button,
select {
  text-transform: none;
}

/* line 249, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 260, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 268, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 278, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
input {
  line-height: normal;
}

/* line 284, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 300, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 310, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 322, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 330, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 340, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 348, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
textarea {
  overflow: auto;
}

/* line 356, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
optgroup {
  font-weight: bold;
}

/* line 364, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 369, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_1.normalize.scss */
td,
th {
  padding: 0;
}

/* line 5, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_2.base.scss */
* {
  box-sizing: border-box;
}

/* line 9, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_2.base.scss */
html {
  font-family: 'Inter', sans-serif;
}

/* line 13, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_2.base.scss */
.wrapper {
  padding: 15px;
  margin: 0 auto;
}

@media (min-width: 1126px) {
  /* line 13, ../xampp/htdocs/JavaScript Array Reflection/scss/2.base/_2.base.scss */
  .wrapper {
    max-width: 1066px;
  }
}

/* line 5, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
body {
  background-color: #104b63;
}

/* line 9, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
#message {
  position: fixed;
  z-index: 1;
  background-color: black;
  color: red;
  text-align: center;
  width: 100vw;
  bottom: -21px;
  display: none;
}

/* line 21, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
form {
  display: block;
}

/* line 23, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
form #email, form #submit, form #newImage {
  background-color: #30aadc;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px;
}

/* line 29, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
form #email {
  width: 250px;
  padding: 4px 10px;
  outline: none;
}

/* line 33, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
form #email::placeholder {
  opacity: 0.5;
  color: black;
}

/* line 38, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
form #submit, form #newImage {
  margin-top: 5px;
  padding: 4px 33px;
}

/* line 46, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
#email {
  max-width: 100%;
}

/* line 50, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
.main,
.sidebar,
.footer {
  border: 3px solid black;
  padding: 15px;
}

/* line 57, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
#main {
  width: 100%;
  text-align: center;
}

/* line 60, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
#main h2 {
  word-wrap: break-word;
  margin-bottom: 0;
}

/* line 64, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
#main p {
  margin-top: 0;
}

/* line 69, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
.main {
  border-radius: 20px;
  display: flex;
  background-color: #1b7ca4;
  margin-top: 125px;
  margin-top: 220px;
}

/* line 74, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
.main .hr {
  border: 1px solid black;
  height: 1px;
}

@media (min-width: 284px) {
  /* line 69, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
  .main {
    margin-top: 185px;
  }
}

@media (min-width: 520px) {
  /* line 69, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
  .main {
    margin-top: 230px;
  }
}

/* line 88, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
.footer {
  border-radius: 20px;
  background-color: #1b7ca4;
  text-align: center;
}

/* line 92, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
.footer p {
  margin: 0;
}

/* line 97, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
.sidebar {
  padding: 10px;
  border-top: none;
  border-radius: 0 0 20px 20px;
  text-align: center;
  background-color: #1b7ca4;
  margin-left: -10px;
  margin-top: -15px;
  position: fixed;
  width: 200px;
  width: calc(100vw - 10px);
}

@media (min-width: 520px) {
  /* line 97, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
  .sidebar {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 20px;
    width: 500px;
  }
}

/* line 119, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
#currentImage a {
  color: black;
  display: inline-block;
  height: 100px;
}

/* line 123, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
#currentImage a img {
  pointer-events: none;
}

/* line 128, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
#currentImage a, #currentImage a img {
  height: 150px;
  width: 150px;
}

@media (min-width: 520px) {
  /* line 128, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
  #currentImage a, #currentImage a img {
    height: 200px;
    width: 200px;
  }
}

/* line 137, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
.image-flexbox {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 20px;
  margin-top: 20px;
}

/* line 142, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
.image-flexbox a {
  color: black;
  height: 100px;
}

/* line 145, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
.image-flexbox a img {
  pointer-events: none;
}

/* line 151, ../xampp/htdocs/JavaScript Array Reflection/scss/3.layout/_1.main.scss */
img {
  box-shadow: 0 0 5px 1px;
}

/*# sourceMappingURL=stylesheet.css.map */