// ==========================================================================
// Base Styles
// ==========================================================================

* {
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
}

.wrapper {
    padding: 15px;
    margin: 0 auto;
    @media (min-width: $breakpoint-lg) {
        max-width: calc(#{$wrapper-lg} + 60px);
    }
}