// ==========================================================================
// Main Layout
// ==========================================================================

.flex-container {
    display: flex;
    flex-flow: row wrap;
    > div {
        flex: 1 1;
    }
    .flex-left {
        flex-grow: 0;
    }
}