// ==========================================================================
// Main Layout
// ==========================================================================

body {
    background-color: darken($color-primary, 50%);
}

#message {
    position: fixed;
    z-index: 1;
    background-color: black;
    color: red;
    text-align: center;
    width: 100vw;
    // top: -21px;
    bottom: -21px;
    display: none;
}

form {
    display: block;
}

#email {
    max-width: 100%;
}

.main,
.sidebar,
.footer {
    border: 3px solid black;
    padding: 15px;
}

#main {
    width: 100%;
    text-align: center;
    h2 {
        word-wrap: break-word;
        margin-bottom: 0;
    }
    p {
        margin-top: 0;
    }
}

.main {  
    border-radius: 20px;
    display: flex;
    background-color: darken($color-primary, 35%);

    margin-top: 125px;


    @media (min-width: $breakpoint-sm) {
        margin-top: 85px;
        & h2:first-of-type, p {
            margin-left: 180px;
        }
    }
}

.footer {
    border-radius: 20px;
    background-color: darken($color-primary, 35%);
    text-align: center;
    p {
        margin: 0;
    }
}

.sidebar {
    padding: 10px;
    border-top: none;
    border-radius: 0 0 20px 20px;
    text-align: center;
    background-color: darken($color-primary, 35%);
    margin-left: -10px;
    margin-top: -15px;
    position: fixed;
    width: 200px;
}

#currentImage a {
    color: black;
    display: inline-block;
    height: 100px;  
    img {
        pointer-events: none;
    }
}

.image-flexbox {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 20px;
    margin-top: 20px;
    a {
        color: black;
        height: 100px;
        img {
            pointer-events: none;
        }
    }
}

img {
    box-shadow: 0 0 5px 1px;
}

